table{
    height: 300px;
    width: 300px;
    border:solid;
    border-collapse: collapse;
    text-align: center;
}

tr{
    height: 10%;
}

td{
    width: 10%;
    border: solid;
}

.vacio{
    background-color: violet;
}

.meta{
    background-color: green;
}

.coche{
    background-color: yellow;
}

.muro{
    background-color: black;
}

.bomba{
    background-color: red;
}